<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css" />
    <title>All Works</title>
</head>
<body>
 <section class="fiery-classical">
    <%- include('../partials/_navbar') %>
    <p>Search Results</p>
   
      <% if (works && works.length) { %>
        <ul>
          <% works.forEach((work) => { %>
           <li class="work-item">
          <div>
            <p>
              <a href="/works/<%=work.id %>">
                <%= work.title %>
              </a>
                By <a href="/composers/<%= work.composer.id %>">
                <%= work.composer.complete_name %> </a>
            </p>
          </div>
        </li>
        <% }) %>
      </ul>
    <% } else if (!works && !newWork) { %>
      <p>There are no works at this time.</p>
    <% } %> 

    <form action="/works/search" method="GET">
      <input type="hidden" name="offset" value="<%= offset+20 %>"/>
      <input type="hidden" name="search" value="<%= search %>"/>
      <button type="submit">Next</button>
    </form>
</section>
</body>
</html>
