<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar') %>
    <p>All Works</p>
    <% if (newWork) { %>
  <div>
    <p>
      <a href="/works/<%= newWork.apiId %>">
        <%= newWork.title %>
      </a>
    </p>
  </div>
<% } %>

      <% if (works && works.length) { %>
        <ul>
          <% works.forEach((work) => { %>
           <li>
          <div>
            <p>
              <a href="/works/<%= work.id %>">
                <%= work.title %>
              </a>
            </p>
          </div>
        </li>
        <% }) %>
      </ul>
    <% } else if (!works && !newWork) { %>
      <p>There are no works at this time.</p>
    <% } %> 
</body>
</html>
