<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Favorite Works</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>All My Favorite Works</h1>

  <% if (works && works.length) { %>
    <ul>
      <% works.forEach((work) => { %>
        <li>
          <div>
            <p>
              <a href="/works/<%= work.apiId %>">
                <%= work.title %>
              </a>
              <% if (work.composer) { %>
                By <a href="/composers/<%= work.composer._id %>">
                  <%= work.composer.complete_name %>
                </a>
              <% } else { %>
                <em>(Composer Pending)</em>
              <% } %>
            </p>
          </div>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>You don’t have any favorite works yet.</p>
  <% } %>
</body>
</html>
