<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css" />
  <title>My Favorite Works</title>
</head>
<body>
  <section class="treble">
  <%- include('../partials/_navbar') %>
  <p class="favs-text">All My Favorite Works</p>

  <% if (works && works.length) { %>
    <ul class="favs-page">
      <% works.forEach((work) => { %>
        <li class="favs-page">
          <div class="favs-page">
            <p>
              <a href="/works/<%= work.apiId %>">
                <%= work.title %>
              </a>
              <% if (work.composer) { %>
                By <a href="/composers/<%= work.composer._id %>">
                  <%= work.composer.complete_name %>
                </a>
              <% } else { %>
                <em>(Composer Pending)</em>
              <% } %>
            </p>
          </div>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>You don’t have any favorite works yet.</p>
  <% } %>

  </section>
</body>
</html>
