<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= work.title || title.subtitle %></title>
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>

     <section class="sparkly-classical">
    <%- include('../partials/_navbar') %>

  <div class="work-details">
    <div>
    <h1><%= work.title %></h1>
      
    <p><strong>Title of Work:</strong> <%= work.title %><p>
    <p><strong>Genre:</strong> <%= work.genre %></p>

    <% if (work.composer) { %>
  <p><strong>Composer:</strong> <%= work.composer.completeName %></p>
<% } %>

    <% if (work.yearComposed) { %>
  <p><strong>Year Composed:</strong> <%= work.yearComposed %></p>
<% } %>


 <% if (work.catalogueSystem) { %>
    <p>Catalogue System (e.g. "K" in Mozart's K.545):</p>
    <p><%= work.catalogueSystem %></p>
    <% } %>

 <% if (work.catalogueNumber) { %>
 <p>Catalogue Number(e.g. the number after the K in Mozart's K. 545):</p>
    <p><%= work.catalogueNumber %></p>
    <% } %>


<% if (work.youTube) { 
     const embedUrl = work.youTube.replace("watch?v=", "embed/");
%>
  <p>
    <a href="<%= work.youTube %>" target="_blank">Watch on YouTube</a>
  </p>
  <div class="video-preview">
    <iframe width="560" height="315"
      src="<%= embedUrl %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
<% } %>



<form method="POST" action="/works/<%= work.apiId %>/favorites">
   <% if (user && work.favoritedBy.includes(user._id)) { %>
  <button class= "favorite-button" type="submit">Remove Work from Favorites</button>
  <% } else{ %>
    <button class= "favorite-button" type="submit">Add Work to Favorites</button>
  <% } %>
</form>



<% if (user) { %>
  <a href="/works/<%= work.apiId %>/edit">Edit Work</a>
<% } %>

  </section>

  </body>
</html>
