<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Favorite Composers</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>All My Favorite Composers</h1>

  <% if (composers && composers.length) { %>
    <ul>
      <% composers.forEach((composer) => { %>
        <li>
          <div>
            <% if (composer.portrait) { %>
              <img src="<%= composer.portrait %>" alt="<%= composer.name %> portrait" />
            <% } %>
            <p>
              <a href="/composers/<%= composer.apiId %>">
                <%= composer.completeName || composer.name %>
              </a>
            </p>
          </div>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>You don’t have any favorite composers yet.</p>
  <% } %>
</body>
</html>
