<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= composer.name || composer.completeName %></title>
    <link rel="stylesheet" href="/style/style.css" />

  </head>
  <body>
    <%- include('../partials/_navbar') %>

  <div class="composer-details">
    <div>
    <h1><%= composer.name %></h1>
      
  <img src="<%= composer.portrait %>" alt="composer portrait" />
    <p><strong>Complete Name:</strong> <%= composer.completeName %><p>
    <p><strong>Born:</strong> <%= composer.birthYear %></p>
    <p><strong>Died:</strong> <%= composer.deathYear %></p>

    <% if (composer.nationality) { %>

  <p><strong>Nationality:</strong> <%= composer.nationality %></p>
<% } %>

    <% if (composer.sex) { %>
  <p><strong>Sex:</strong> <%= composer.sex %></p>
<% } %>


 <% if (composer.biography) { %>
    <h3>Biography</h3>
    <p><%= composer.biography %></p>
    <% } %>


<form method="POST" action="/composers/<%= composer.apiId %>/favorites">
   <% if (user && composer.favoritedBy.includes(user._id)) { %>
  <button type="submit">Remove Composer to Favorites</button>
  <% } else{ %>
    <button type="submit">Add Composer to Favorites</button>
  <% } %>
</form>

<% if (user) { %>
  <a href="/composers/<%= composer.apiId %>/edit">Edit Composer</a>
<% } %>

  

  <h2>Popular Works</h2>
    <ul>
    <% if (works && works.length) { %>
        <% works.slice(0, 3).forEach(function(work) { %>
        <li><a href="/works/<%= work._id %>"><%= work.title %></a></li>
        <% }) %>
    <% } else { %>
        <li>No works listed</li>
    <% } %>
    </ul>
    <a href="/composers/search/epoch?epoch=<%=epoch %>">Back to Search Results</a>
    </div>
  </body>
</html>
